# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
pluggy==1.6.0
types-decorator==5.2.0.20250324
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-timeout==2.4.0
pytest==8.4.1
hypothesis==6.135.32
