name: Run unit tests with oldest dependency versions
# This workflow runs the unit tests with the oldest versions of the
# dependencies listed in `pyproject.toml`. The oldest versions are specified in
# `ci/minimum/requirements.txt`. The `requirements.txt` file is needs to
# be manually updated to be aligned with `pyproject.toml`.
#
# In the future, `pip` might be able to install the minimum versions in
# `pyproject.toml` directly as disscussed in an open issue:
# https://github.com/pypa/pip/issues/8085

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: unit-test-min-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  PIP_PROGRESS_BAR: "off"

jobs:
  run:
    name: Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          pip list
          pip install -e '.[tests]'
          pip install -r ci/minimum/requirements.txt
          pip list

      - name: Run tests
        run: pytest -vv --cov --cov-report=xml
